.filter-section{
    scrollbar-width: none;
}

@media screen and (max-width:750px){
    .filter-section{
        transform: translateX(-153%);
       width: 0;
        transition: transform 0.4s ease;
    
    }

    .filter-section.active{
         padding: 10px;
        top:0px;
        width: 350px;
        position: absolute;
        height: 100%;
        transform: translateX(-3%);
    }

    .filter-button{
        display: flex;
    }

    .filter-overlay{
        transform: translateX(0px);
        transition: transform 0.2s ease;

    }

  
    
}