.product-slider{
    display: none;
}

@media screen and (max-width:950px) {

    .product-page .hero-section{
        flex-direction: column;
    }

    .left-container{
        width: 98%;
    }

    .right-container{
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media screen and (max-width:500px) {
     .product-slider{
        display: flex;
    }

    .product-images{
        display: none;
    }
.cart-button{
    width: 165px;

}
.right-container{
    padding-left: 0;
}
}

@media screen and (max-width:380px) {
.cart-button{
    width:max-content;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 12px;

}
}