.product-slider{
    display: none;
}


@media screen and (max-width:950px) {

    .product-page .hero-section{
        flex-direction: column;
    }

    .left-container{
        width: 98%;
    }

    .right-container{
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
    }

    
}

@media screen and (max-width:500px) {
     .product-slider{
        display: flex;
    }

    .product-images{
        display: none;
    }
.cart-buttons{
flex-direction: column;
}
.cart-btn{
    width: 80%;
}
.right-container{
    padding-left: 0;
}
}
