.curated-img:hover{
transform: scale(1.1);
}

.curated-img{
    transition: transform .2s ease;
}

@media screen and (max-width:500px) {
    .curated-img-container{
        grid-template-columns: 1fr;
    }
}