@media screen and (max-width:880px) {
.feature-bar-outer-container {
    height: 58px;
    font-size: 12px;
}



.feature-bar-container .feature{
    width: 160px;
    gap: 0;
}

.feature-bar-container .feature .img{
    height: 35px;
}
    
}

@media screen and (max-width:700px) {
.feature-bar-container{
    width: 100%;
    padding-left: 50px;
}

.feature-bar-container .feature{
    width: 140px;
}

.feature-bar-container .feature.truck{
    width: 100px;
}

.feature-bar-outer-container{
    font-size: 10px;
}

}

@media screen and (max-width:500px) {
        .feature-bar-container .feature .img {
        height: 32px;
        width: 32px;
    }

    .feature-bar-container .feature .text{
        width: 80%;
        text-align: start;
        /* padding-left: 15px; */
    }

    .feature-bar-outer-container{
        font-size: 15px;
        height: 100px;
        margin-bottom: 50px;
    }

    .feature-bar-container .feature{
        width: 100%;
        padding-bottom: 18px;
        gap: 13px;
    }

    .feature-bar-container .feature.truck{
        width: 100%;
        padding-bottom: 0;
    }

    .feature-bar-container{
        grid-template-columns: 1fr;
        padding-left: 4px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-top: 40px;
    }
  

}