.category-images .card .price{
    font-weight: 700;
}

.scroll-hide{
    scrollbar-width: none;
}

@media screen and (max-width:900px) {
    .category-images{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width:500px) {
    .category-images{
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 20px;
        gap: 8px;
    }
}