.swiper-pagination {
    position: relative !important;
    margin-top: 35px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 18px;
    color: white;
    filter: drop-shadow(2px 2px 4px rgba(12, 12, 12, 0.9));

}

@media screen and (max-width:1000px) {

    .swiper-pagination {
        margin-top: -11px !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}